body{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#compSelectSq{
    max-width: 10em;
    align-self: center;
    display: inline-flex;
    border: 2px black solid;
    border-radius: 5px;
    min-width: 15em;
    min-height: 15em;
    align-items: center;
    justify-content: center;
}
.selectSq{
    display: inline-flex;
    border: 2px black solid;
    border-radius: 5px;
    min-width: 15em;
    min-height: 15em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#playerPanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
#scorePanel{
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

#scorePanel h1{
    min-width: 5em;
    text-align: center;
}